html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  font-family: Monaco, Copperplate, Verdana, Arial, Helvetica, sans-serif;
}

.entiresitewrapper {
  position:relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.854);
  background-color: rgb(24, 24, 27);
}

.mainsitewrapper {
  flex: 1 0 0;
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.leftcontainer {
  flex-grow: 3;
  padding-left: 10px;
}

.rightcontainer {
  flex-grow: 1;
  border: 3px double aliceblue;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.scoreboard {
  display: flex;
  flex-flow: column nowrap;
}

.scoreboardtitle,
.scoreboardsubtitle {
  align-self: center;
}

.scoreboardtitle {
  font-size: 40px;
  font-weight: 900;
}

.scoreboardsubtitle {
  font-size: 12px;
  font-style: italic;
}

.scoreboardscores {
  display: flex;
  font-size: 25px;
}

.playerScore,
.computerScore {
  text-align: center;
  flex: 1 1 0;
  font-weight: 900;
}

.buttonsrow {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.playerchoice {
  flex: 1 0 0;
  font-size: 30px;
  border-radius: 14px;
  padding: 10px 0px;
}

.playerchoice:enabled {
  color:aliceblue;
  background-color: rgb(126, 38, 38);
}


.endofmatchdetails {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  width: auto;
}

.resultscontainer {
  margin-top: 20px;
  padding-left: 20px;
}

.resultstitle {
  font-size: 20px;
}

.matchhistorycontainer {
  display: flex;
  flex-flow: column nowrap;
}

.matchhistorytitle {
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

.matchhistorytitle {
  font-size: 20px;
}


.matchhistorylist {
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 10px;
}

.matchoutcome {
  font-size: 35px;
}

.playagainbtn {
  font-size: 25px;
  color: aliceblue;
  background-color: black;
  padding: 5px 10px;
  border-radius: 10px;
}

.playagainbtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}



.footer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  padding: 10px;
  color: rgb(241, 233, 233);
  background-color: rgb(31, 34, 65);
  font-weight: 400;
}

